body{
   font-family: Arial, Helvetica, sans-serif; 
   border: 3px solid black;
   display: flex;
   margin: 10px auto;
   width: 800px;
}

.column1{
    margin: 0 30px;
    font-size: xx-small;
    color: #565659;
}

.cover-page{
    margin-top: 20px;
    width: 220px;
}

.column2{
    font-size: 14px;
    margin: 0 30px 0 0;
}

a{
color: #007185;
}

.rating{
    display: block;
    width: 100px;
}
